.header{
    height: 50px;
    width: 100%;
    background-color: #0b2239;
    display: flex;
    padding-top: 10px;
    padding-bottom: 3px;
    z-index: 999;
    position: fixed;
    top: 0;
}

.header__left{
    flex: 4;
}

.header__left > img {
    object-fit: contain;
    height: 65px;
    position: relative;
    left: 18rem;
    bottom: 5px;
    cursor: pointer;
}

.header__center{
    flex: 4;
    display: flex;
}

.header__search{
    padding: 10px;
    flex: 3;
    display: flex;
    align-items: center;
    height: 20px;
    border-radius: 5px;
    color: gray;
    background-color: #eef3f8;
    border-radius: 30px;
    margin-right: 10px;
    margin-top: 1.5px;
}

.header__search > input{
    outline: none;
    border: none;
    background: none;
    font-size: 16px;
}